Repository w3c/rdf-concepts, pull requests merged in 2023-07, with the labels that each got.

#52 Adds Privacy Considerations for RDF.
  spec/index.html
Labels: privacy-tracker, spec:enhancement

#54 Remove markdown because inside markup
  spec/index.html
Labels: spec:bug

#53 Revert "improve display on mobile phones"
  spec/index.html
Labels: spec:editorial
