Repository w3c/rdf-concepts, pull requests merged in 2024-08, with the labels that each got.

#95 add definition for asserted and update change log accordingly
  spec/index.html
Labels: spec:editorial

#96 Change the section on Quoted Triples to Triple Terms.
  spec/asserted-triple-term.svg
  spec/index.html
  spec/quoted-asserted-triple.svg
  spec/quoted-triple.svg
  spec/triple-term.svg
Labels: spec:substantive

#98 Add an informative definition for "reifying triple".
  spec/index.html
Labels: needs discussion, spec:editorial
