Repository w3c/rdf-concepts, pull requests merged in 2025-05, with the labels that each got.

#190 Suggestions from January review on Abstract
  spec/index.html
Labels: spec:editorial, spec:enhancement

#192 Suggestions from January review on §1.1
  spec/index.html
Labels: spec:editorial

#195 Suggestions from January review on §1.9
  spec/index.html
Labels: spec:editorial

#197 Suggestions from January review on §3
  spec/index.html
Labels: spec:editorial

#199 Suggestions from January review on §3.9
  spec/index.html
Labels: spec:editorial

#200 Suggestions from January review on §6
  spec/index.html
Labels: spec:editorial

#201 Suggestions from January review on §7
  spec/index.html
Labels: spec:enhancement

#196 Suggestions from January review on §2
  spec/index.html
Labels: spec:editorial

#187 Add version announcement section
  spec/index.html
Labels: spec:substantive

#203 GH-202: Version Labels
  spec/index.html
Labels: spec:enhancement
